In [1]:
# TCC: APLICAÇÃO DE MACHINE LEARNING PARA APOSTAS ESPORTIVAS: uso de Regressão Logística,
#      SVM, Árvore de Decisão e Naive Bayes
#
# Aluno: João Henrique
# Orientadora: Renata Alcoforado

In [2]:
# Importando as bases de dados da Inglaterra

import pandas as pd

d1 = pd.read_csv('E0(9).csv')
d2 = pd.read_csv('E0(8).csv')
d3 = pd.read_csv('E0(7).csv')
d4 = pd.read_csv('E0(6).csv')
d5 = pd.read_csv('E0(5).csv')
d6 = pd.read_csv('E0(4).csv')
d7 = pd.read_csv('E0(3).csv')
d8 = pd.read_csv('E0(2).csv')
d9 = pd.read_csv('E0(1).csv')
d10 = pd.read_csv('E0.csv')

# Legenda
#d1 = Dados de 2012/2013
#d2 = Dados de 2013/2014
#d3 = Dados de 2014/2015
#d4 = Dados de 2015/2016
#d5 = Dados de 2016/2017
#d6 = Dados de 2017/2018
#d7 = Dados de 2018/2019
#d8 = Dados de 2019/2020
#d9 = Dados de 2020/2021
#d10 = Dados de 2021/2022

In [3]:
# Criando novas bases de acordo com as variáveis presentes e desejadas para o estudo

bd1 = d1[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd2 = d2[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd3 = d3[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd4 = d4[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd5 = d5[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd6 = d6[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd7 = d7[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd8 = d8[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd9 = d9[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd10 = d10[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]

In [4]:
# Base de dados das últimas 5 temporadas

dados5anos = pd.concat([bd6,bd7,bd8,bd9,bd10], axis=0, ignore_index=True)
dados5anos.head()

,Div,Date,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,BWH,BWD,...,IWA,PSH,PSD,PSA,VCH,VCD,VCA,WHH,WHD,WHA
0,E0,11/08/2017,Arsenal,Leicester,H,1.53,4.5,6.50,1.50,4.60,...,6.50,1.53,4.55,6.85,1.53,4.50,6.50,1.53,4.2,6.00
1,E0,12/08/2017,Brighton,Man City,A,11.00,5.5,1.33,11.00,5.25,...,1.35,10.95,5.55,1.34,10.00,5.50,1.33,10.00,4.8,1.33
2,E0,12/08/2017,Chelsea,Burnley,A,1.25,6.5,15.00,1.22,6.50,...,13.50,1.26,6.30,15.25,1.25,6.25,15.00,1.25,5.5,13.00
3,E0,12/08/2017,Crystal Palace,Huddersfield,A,1.83,3.6,5.00,1.80,3.50,...,4.30,1.83,3.58,5.11,1.83,3.60,5.00,1.80,3.3,5.00
4,E0,12/08/2017,Everton,Stoke,H,1.70,3.8,5.75,1.70,3.60,...,5.00,1.70,3.83,5.81,1.70,3.80,5.75,1.70,3.5,5.50

In [5]:
# Exportando o data frame para .csv

dados5anos.to_csv('ENG5anos.csv', index=False)

In [6]:
# Base de dados das últimas 10 temporadas

dados10anos = pd.concat([bd1,bd2,bd3,bd4,bd5,bd6,bd7,bd8,bd9,bd10], axis=0, ignore_index=True)
dados10anos.head()

,Div,Date,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,BWH,BWD,...,IWA,PSH,PSD,PSA,VCH,VCD,VCA,WHH,WHD,WHA
0,E0,18/08/12,Arsenal,Sunderland,D,1.40,4.50,8.50,1.35,4.6,...,7.3,1.44,4.76,8.78,1.44,4.75,8.50,1.44,4.0,8.0
1,E0,18/08/12,Fulham,Norwich,H,1.80,3.60,4.50,1.80,3.5,...,4.0,1.82,3.81,4.80,1.83,3.75,4.75,1.85,3.3,4.5
2,E0,18/08/12,Newcastle,Tottenham,H,2.50,3.40,2.75,2.60,3.3,...,2.7,2.65,3.47,2.82,2.62,3.40,2.75,2.70,3.0,2.8
3,E0,18/08/12,QPR,Swansea,A,2.00,3.40,3.80,2.00,3.4,...,3.1,2.05,3.53,4.01,2.00,3.50,4.00,2.00,3.3,3.8
4,E0,18/08/12,Reading,Stoke,D,2.38,3.25,3.10,2.40,3.2,...,2.7,2.40,3.37,3.26,2.40,3.30,3.25,2.40,3.3,2.9

In [7]:
# Exportando o data frame para .csv

dados10anos.to_csv('ENG10anos.csv', index=False)