In [1]:
# TCC: APLICAÇÃO DE MACHINE LEARNING PARA APOSTAS ESPORTIVAS: uso de Regressão Logística,
#      SVM, Árvore de Decisão e Naive Bayes
#
# Aluno: João Henrique
# Orientadora: Renata Alcoforado

In [2]:
# Importando as bases de dados da França

import pandas as pd

d1 = pd.read_csv('F1(9).csv')
d2 = pd.read_csv('F1(8).csv')
d3 = pd.read_csv('F1(7).csv')
d4 = pd.read_csv('F1(6).csv')
d5 = pd.read_csv('F1(5).csv')
d6 = pd.read_csv('F1(4).csv')
d7 = pd.read_csv('F1(3).csv')
d8 = pd.read_csv('F1(2).csv')
d9 = pd.read_csv('F1(1).csv')
d10 = pd.read_csv('F1.csv')

# Legenda
#d1 = Dados de 2012/2013
#d2 = Dados de 2013/2014
#d3 = Dados de 2014/2015
#d4 = Dados de 2015/2016
#d5 = Dados de 2016/2017
#d6 = Dados de 2017/2018
#d7 = Dados de 2018/2019
#d8 = Dados de 2019/2020
#d9 = Dados de 2020/2021
#d10 = Dados de 2021/2022

In [3]:
# Criando novas bases de acordo com as variáveis presentes e desejadas para o estudo

bd1 = d1[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd2 = d2[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd3 = d3[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd4 = d4[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd5 = d5[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd6 = d6[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd7 = d7[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd8 = d8[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd9 = d9[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]
bd10 = d10[['Div','Date','HomeTeam','AwayTeam','FTR','B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA']]

In [4]:
# Base de dados das últimas 5 temporadas

dados5anos = pd.concat([bd6,bd7,bd8,bd9,bd10], axis=0, ignore_index=True)
dados5anos.head()

,Div,Date,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,BWH,BWD,...,IWA,PSH,PSD,PSA,VCH,VCD,VCA,WHH,WHD,WHA
0,F1,04/08/17,Monaco,Toulouse,H,1.30,5.5,10.00,1.30,5.75,...,7.90,1.32,5.72,11.12,1.30,5.5,11.00,1.30,5.0,10.0
1,F1,05/08/17,Lyon,Strasbourg,H,1.36,5.0,8.50,1.36,5.00,...,7.50,1.40,5.19,8.99,1.36,5.0,9.00,1.40,4.5,8.0
2,F1,05/08/17,Metz,Guingamp,A,2.80,3.2,2.63,2.80,3.20,...,2.65,2.95,3.20,2.71,2.88,3.2,2.63,2.70,3.1,2.7
3,F1,05/08/17,Montpellier,Caen,H,1.91,3.5,4.20,1.83,3.60,...,4.10,1.88,3.54,4.74,1.90,3.5,4.40,1.91,3.2,4.5
4,F1,05/08/17,Paris SG,Amiens,H,1.11,9.0,25.00,1.12,9.25,...,14.00,1.13,10.70,26.00,1.12,9.5,19.00,1.10,9.0,26.0

In [5]:
# Exportando o data frame para .csv

dados5anos.to_csv('FRA5anos.csv', index=False)

In [6]:
# Base de dados das últimas 10 temporadas

dados10anos = pd.concat([bd1,bd2,bd3,bd4,bd5,bd6,bd7,bd8,bd9,bd10], axis=0, ignore_index=True)
dados10anos.head()

,Div,Date,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,BWH,BWD,...,IWA,PSH,PSD,PSA,VCH,VCD,VCA,WHH,WHD,WHA
0,F1,10/08/12,Montpellier,Toulouse,D,1.83,3.40,4.50,1.78,3.40,...,4.2,1.89,3.36,5.02,1.87,3.40,5.00,1.83,3.2,4.80
1,F1,11/08/12,Evian Thonon Gaillard,Bordeaux,A,2.75,3.20,2.60,2.80,3.10,...,2.4,2.93,3.25,2.66,2.90,3.25,2.62,2.75,3.1,2.62
2,F1,11/08/12,Nancy,Brest,H,2.10,3.20,3.60,2.15,3.00,...,3.5,2.16,3.21,3.99,2.15,3.20,4.00,2.15,3.0,3.75
3,F1,11/08/12,Nice,Ajaccio,A,1.91,3.25,4.33,1.90,3.25,...,3.5,1.97,3.32,4.62,1.98,3.30,4.60,2.00,3.1,4.20
4,F1,11/08/12,Paris SG,Lorient,D,1.33,4.75,10.00,1.30,4.75,...,7.5,1.36,5.13,10.67,1.33,4.50,11.50,1.33,4.5,11.00

In [7]:
# Exportando o data frame para .csv

dados10anos.to_csv('FRA10anos.csv', index=False)